<!--
  Copyright (c) 2018 z-kit contributors.
  @license MIT LICENSE
  https://github.com/z-kit/z-hello
-->
<template>
  <style>{{{htmlWebpackPlugin.options.css}}}</style>
  <div class="z-hello">
    <h1 class="z-hello__title">
      <slot></slot>
    </h1>
  </div>
</template>

<script>{{{htmlWebpackPlugin.options.js}}}</script>
