{
  "env": {
    "browser": true
  },
  "extends": ["airbnb"],
  "globals": {
    "gemini": true
  },
  "rules": {
    "new-cap": "off",
    "import/no-extraneous-dependencies": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": "off",
    "global-require": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": ".storybook/webpack.config.js"
      }
    }
  }
}
