{
  "env": {
    "browser": true
  },
  "extends": ["airbnb"],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": "off",
    "global-require": "off"
  }
}
